     body {
         margin: 0;
         padding: 0;
         background-color: #f5f5dc;
     }
     
     .navbar {
         background-color: #af8c5887;
         height: 50px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 0 20px;
         box-sizing: border-box;
         border-bottom: 1px solid #0b0404;
     }
     
     .navbar-logo {
         font-size: 24px;
         font-weight: bold;
     }
     
     .navbar-links {
         display: flex;
         justify-content: flex-end;
         align-items: center;
     }
     
     .navbar-link {
         padding: 10px;
         margin-right: 10px;
         text-decoration: none;
         color: #000000;
         border: 1px solid #000000;
         border-radius: 4px;
         box-sizing: border-box;
         text-align: center;
     }
     
     .navbar-link:hover {
         background-color: #55534e72;
     }
     
     .image-container {
         max-width: 100%;
         height: auto;
         overflow: hidden;
         position: relative;
         opacity: 0;
         transform: translateY(20px);
         transition: opacity 1s ease-out, transform 1s ease-out;
         justify-content: center;
     }
     
     .image-container img {
         max-width: 100%;
         height: auto;
     }
     
     .image-container.loaded {
         opacity: 1;
         transform: translateY(0);
     }
     
     .background-container {
         position: fixed;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         z-index: -1;
         overflow: hidden;
     }
     
     .background-img {
         width: 100%;
         height: 100%;
         background-image: url('https://i.pinimg.com/originals/53/d8/fc/53d8fcfbc458e8f786dc8fa7bd05517f.jpg');
         background-size: cover;
         background-position: center;
         position: absolute;
         top: 0;
         left: 0;
         opacity: 0.5;
     }
     
     .content {
         padding: 20px;
         box-sizing: border-box;
         z-index: 1;
         position: relative;
     }
     
     .content h1 {
         color: #333;
         font-size: 36px;
     }
     
     .content p {
         color: #777;
         font-size: 18px;
     }